#btn1
{
font-size:100px;
margin-top:170px;
margin-left:25px;
float:left;
}

#btn2
{
font-size:100px;
margin-top:170px;
margin-right:25px;
float:right;
}

img
{
width:550px;
height:550px;
margin-bottom:25px;
}